@page "/competitions"
<h3>Competitions</h3>
<button type="button" class="btn btn-primary" onclick="@CreateCompetition()">Create competition</button>
<button type="button" class="btn btn-primary" @onclick="LoadCompetitions">Load competition</button>